*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gill sans';
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height:100%;
    width:100%;
    background-color: aliceblue;
}

#header{
    height: 13%;
    width:100%;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo{
    height:70%;
}

#logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.texts{
    color: rgb(0,0,92);
    display: flex;
}

.texts:hover{
    color: rgb(0,176,211);
}

#fakeheader{
    height: 13%;
    width:100%;
}
#contactDetails{
    font-weight: lighter;
}
.icon{
    margin-left: 20px;
    padding: 10px;
    border-radius: 50%;
}

.icon:hover{
    background-color: lightblue;
}

#login{
    display: flex;
    padding: 10px;
    border-radius: 50px;
}

#login:hover{
    background-color: lightblue;
}

#try{
    background-color: green;
    padding: 10px 20px;
    color: white;
}

#try:hover{
    background-color: rgb(0,51,0);
}
#page1{
    height:87%;
    width:100%;
}
#strip{
    width:100%;
    height:8%;
    background-color: rgb(0,0,131);
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

#strip u {
    margin: 10px;
    font-weight: lighter;
}

#content{
    width: 100%;
    height: 76%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#box1{
    height: 90%;
    width:47%;
}

#box1 h1{
    font-weight: 600;
    color: rgb(0,0,80);
    font-size: 50px;
    margin: 30px 10px;
}

#box1 p{
    font-weight: lighter;
    color: rgb(0,0,80);
    font-size: xx-large;
    margin: 30px 10px;
}
#box2{
    height: 90%;
    width:47%;
    background-image: url("images/background.jpg");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 35px;
    overflow: hidden;
}

#box2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 50px;
    border-radius: 35px;
    overflow: hidden;
}


.btns{
    display: flex;
}

#btn1{
    text-align: center;
    width: 23%;
    padding: 10px 20px;
    color: white;
    background-color: rgb(89,213,255);
    margin: 10px;
}
#btn1:hover{
    background-color: rgb(0,66,88);
}
#btn2{
    text-align: center;
    width: 23%;
    padding: 10px 20px;
    color: rgb(89,213,255);
    background-color: white;
    border: 1px solid rgb(89,213,255);
    margin: 10px;
}

#btn2:hover{
    color: rgb(0,67,90);
background-color: rgb(89,213,255);
    border: 1px solid rgb(0,67,90);

}
#heading{
    width: 100%;
    height: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgc(0,0,130);
}
#heading h1{
    font-weight: 600;
}
#page2{
    height:87%;
    width: 100%;
    background-color: aliceblue;
}

.cards{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-weight: lighter;
}

.cards img{
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.card-heading{
    height: 30%;
    width:100%;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 30px;
}
.card-footer {
    height:10%;
    width:100%;
    font-weight: normal;
    padding: 30px;
}

#card1{
    height: 100%;
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}
#card2{
    height: 100%;
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}
#card3{
    height: 100%;
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}


#footer{
    height:20%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:  rgb(0,67,90);
}

#footer h1{
    font-weight: 600;
}

#footer p {
    margin: 10px;
    font-weight: normal;
}
